*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* 点击高光 */
	tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  white-space:nowrap;
  text-overflow: ellipsis;
}

body{
  font-family: "Microsoft YaHei",sans-serif;
  background-color: rgb(247, 247, 247);
}

ul,
ol{
	list-style: none;
}

a{
	text-decoration: none;
	color: #333;
}

input,
areatext{
	border: none;
	outline: none;
	resize: none;
	/* 元素外观 */
	-webkit-appearance: none;
}

.clearFix:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
